.navBelt {
  display: flex;
  justify-content: space-between;
  background-color: var(--foreground-rgb);
  font-family: var(--font-mono);
}
.navLeft {
  display: flex;
}
.navRight {
  display: flex;
  align-items: center;
}
.navLogo {
  display: flex;
  padding: 8px;
  align-items: center;
}
.navSearch {
  display: flex;
  justify-content: right;
}
.navLocation {
  display: flex;
  padding: 8px;
  border-bottom: 2px;
}
.catDropdown select {
  font-family: var(--font-mono);
  display: flex;
  border-radius: var(--border-radius);
  padding: 8px;
  margin: 0 8px;
  border-width: 2px;
  background-color: var(--card-rgb);
}

.searchForm {
  display: flex;
}
.searchLeft input {
  font-family: var(--font-mono);
  padding: 8px;
  margin: 0 8px;
  border-style: outset;
  border-radius: var(--border-radius);
  background-color: var(--card-rgb);
}
.data {
  color: white;
}
.searchRight input {
  font-family: var(--font-mono);
  padding: 8px;
  margin: 0 8px;
  border-style: outset;
  border-radius: var(--border-radius);
  background-color: var(--card-rgb);
}

.navMain {
  max-width: var(--max-width);
  display: flex;
  font-family: var(--font-mono);
  flex-direction: row;
  background-color: var(--foreground-rgb);
  padding: 12px 0;
}

.navMainItem {
  align-items: center;
  justify-content: left;
  padding: 8px 12px;
  background-color: aqua;
}
