.listItem {
    list-style: none;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 15rem;
    height: 10rem;
    list-style: none;
    margin: 1rem;
    background-color: #727272;
    color: rgb(255, 255, 255);
    border-radius: 10px;
    text-align: center;
    box-shadow: 0px 0 20px 0 rgba(255,255,255,0.5);
    -webkit-box-shadow: 0px 0 20px 0 rgba(255,255,255,0.5);
    -moz-box-shadow: 0px 0 20px 0 rgba(255,255,255,0.5);
}

.name {
    font-size: 1.25rem;
}

.episodeTag {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    width: 5rem;
    height: 2rem;
    background-color: rgb(0, 255, 183);
    color: #000000;
    border-radius: 5px;
    -webkit-text-shadow: 0.5px 0.5px 0.5px #FF6262;
    -moz-text-shadow:0.5px 0.5px 0.5px #FF6262;
    text-shadow: 0.5px 0.5px 0.5px #FF6262;
}

.episodeNumber {
    
}

.airDate {

}